/*.wrapper{width:100%;}
.box{}*/
/*.flex-container {
  display: flex;
  flex-direction: row;
}*/
.title{
/*  padding : 0px 70px;
  border: 3px solid green;*/
  text-align:center;
  font-family:"Courier New, monospace";
}
.img{
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
}
.wrapper{
  width:100%;
  overflow:hidden;
  /*background-color: #7f7f7f;*/
}
.box{
   width:50%;
   height:1000;
   /*height:100%;*/
   /*background-color:red; */
   float:left; 
   display: inline-block;
}
.box2{
   width:50%;
   height:1000;
   /*background-color:blue; */
   float:left; 
   display: inline-block;
}
.but{
   float:right; 
   display: inline-block;
   text-align: center;
   font-size: 20px;
   background-color: #e7e7e7; 
   color: black;
}
