/*.wrapper{width:100%;}
.box{}*/
/*.flex-container {
  display: flex;
  flex-direction: row;
}*/
.wrapper{
  width:100%;
  overflow:hidden;
  background-color:yellow;
}
.box{
   width:50%;
   /*height:100%;*/
   background-color:red; 
   float:left; 
   display: inline-block;
}
.box2{
   width:50%;
   height:1000;
   background-color:blue; 
   float:left; 
   display: inline-block;
}

